body{
    
    background-color: rgb(0, 129, 204);
}

header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 129, 204);
    
                
    
    
}

section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    

    
    background-color: rgb(0, 129, 204);
    align-items: center;
    
}

footer{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    

    background-color: rgb(121, 40, 34);
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: absolute;
    
    
    
    text-align: center;
    

    color: white;

}


p.button{
    margin-left: 80rem;
    margin-right: auto;
    display: flexbox;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;

    border: 0x solid;

}

span.button{
    background-color: rgb(121, 40, 34);
    border-radius: 0.5rem;
    padding: 0.6rem;
    display: flexbox;
    box-shadow: inset 0 0 0.1rem rgb(0, 0, 0), 0.15rem 0.15rem 0.15rem 0.15rem black;
                
}


.head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0px; 
}

a:link{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
   
a:visited{
   color: rgb(255, 255, 255); 
}

a:active{
    color: rgb(255, 255, 255);
}       
            



h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    
}

h2{
    color: palegoldenrod;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.center
{
    display:contents;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 25px;

}

.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    

}

.terulet
{
    display:contents;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    
    width: 80%;
    height: 80%;
    
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;


    box-shadow: inset 0 0 0.1rem rgb(0, 0, 0), 0.15rem 0.15rem 0.15rem 0.15rem black;
    
    

}

.cim
{
    background-color: rgb(97, 20, 20);
    border: 0px solid;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
    box-shadow: inset 0 0 0.1rem rgb(0, 0, 0), 0.15rem 0.15rem 0.15rem 0.15rem black;
    
    
    
}

.video
{
    

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-color: rgb(137, 37, 37);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    box-shadow: inset 0 0 0.1rem rgb(0, 0, 0), 0.15rem 0.15rem 0.15rem 0.15rem black;


}

.grid 
{
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 40rem;

}




