body{
    border: 1px solid;
}

header{
    width: 100%;
    background-color: rgb(0, 129, 204);
                
    border: 1px solid ;
}

section{
    width: auto;
    height: auto;
    background-color: rgb(138, 211, 229);

    border: 1px solid;
}

footer{
    background-color: rgb(0, 129, 204);
    color: white;
    position: static;
    bottom: 1rem;
    left: 0rem;
    width: 100%;
    text-align: center;

    border: 1px solid;
}

.left{
    display: block;
    margin-right: auto;
    margin-left: 0%;
    width: 5%;

    border: 1px solid;

}

.right{
    display: block;
    margin-right: 0%;
    margin-left: auto;
    width: 40%;

    border: 1px solid;

}

p.button{
    margin-left: 1rem;
    display: flexbox;

    border: 0px solid;

}

span.button{
    background-color: rgb(201, 38, 38);
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px;
                
}

.img{
    width: 30%;
    height: auto;
    margin-left: 2%;

}

.head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0px; 
            }

a:link{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
   
a:visited{
   color: rgb(255, 255, 255); 
}

a:active{
    color: rgb(255, 255, 255);
}       
            
p{
      margin-left: 15%;
    margin-right: 15%;
                
}

.tagok{
    
}