.table{
    width: 450px;
    height: 525px;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: bisque;

}

.gray{
    background-color: #cccccc;
    font-style: italic;
    text-align: center;
    height: 75px;
}

.red{
    background-color: red;
}

.baige{
    background-color: #ffff88;
}

.magenta{
    background-color: #ffff00
}
.green{
    background-color: greenyellow;
}

.mat{
    background-color: red;
}

.kut{
    background-color: aqua;
}

.english{
    background-color: blue;
}
.logik{
    background-color: chartreuse;
}

.arch{
    background-color: orange;
}

.inf{
    background-color: violet;
}

.scroll{
    overflow: visible;
    overflow-x: scroll;
    overflow-x: scroll;
    height: 150px;
    width: 150px;
}
.center{
    text-align: center;
}